.cheat-sheet-card {
    background-color: white;
    padding: 1.2rem;
    margin-top: 2rem;
    border-radius: 5px;
    box-shadow: 10px 10px 8px;
}
.cheatsheet {
    padding-bottom: 20px;
}
.playerCard {
    color: white;
    margin: 5px;
    transition: 0.3s ease;
}
.playerCard:hover {
    margin: 0px;
}
.playerLink {
    color: inherit;
    text-decoration: none;
    & :hover {
        text-decoration: none;
    }
}
.sheet-delete {
    float: right;
}
/* teams */
/* Arizona Cardinals */
.ARI {
    background: #97233f;
    border-bottom: 5px solid #000;
    & .playerLink:hover,
    span:hover {
        color: #ffb612;
        cursor: pointer;
    }
}
/* Atlanta Falcons */
.ATL {
    background: #a71930;
    border-bottom: 5px solid #000;
    & .playerLink:hover,
    span:hover {
        color: #a5acaf;
        cursor: pointer;
    }
}
/* Baltimore Ravens */
.BAL {
    background: #241773;
    border-bottom: 5px solid #000;
    & .playerLink:hover,
    span:hover {
        color: #9e7c0c;
        cursor: pointer;
    }
}
/* Buffalo Bills */
.BUF {
    background: #00338d;
    border-bottom: 5px solid #c60c30;
    & .playerLink:hover,
    span:hover {
        color: #c60c30;
        cursor: pointer;
    }
}
/* Carolina Panthers */
.CAR {
    background: #0085ca;
    border-bottom: 5px solid #101820;
    & .playerLink:hover,
    span:hover {
        color: #101820;
        cursor: pointer;
    }
}
/* Chicago Bears */
.CHI {
    background: #0b162a;
    border-bottom: 5px solid #c83803;
    & .playerLink:hover,
    span:hover {
        color: #c83803;
        cursor: pointer;
    }
}
/* Cincinnati Bengals */
.CIN {
    background: #fb4f14;
    border-bottom: 5px solid #000;
    & .playerLink:hover,
    span:hover {
        color: #000;
        cursor: pointer;
    }
}
/* Cleveland Browns */
.CLE {
    background: #311d00;
    border-bottom: 5px solid #ff3c00;
    & .playerLink:hover,
    span:hover {
        color: #ff3c00;
        cursor: pointer;
    }
}
/* Dallas Cowboys */
.DAL {
    background: #003594;
    border-bottom: 5px solid #869397;
    & .playerLink:hover,
    span:hover {
        color: #869397;
        cursor: pointer;
    }
}
/* Denver Broncos */
.DEN {
    background: #fb4f14;
    border-bottom: 5px solid #002244;
    & .playerLink:hover,
    span:hover {
        color: #002244;
        cursor: pointer;
    }
}
/* Detriot Lions */
.DET {
    background: #0076b6;
    border-bottom: 5px solid #b0b7bc;
    & .playerLink:hover,
    span:hover {
        color: #b0b7bc;
        cursor: pointer;
    }
}
/* Green Bay Packers */
.GB {
    background: #203731;
    border-bottom: 5px solid #ffb612;
    & .playerLink:hover,
    span:hover {
        color: #ffb612;
        cursor: pointer;
    }
}
/* Houston Texans */
.HOU {
    background: #03202f;
    border-bottom: 5px solid #a71930;
    & .playerLink:hover,
    span:hover {
        color: #a71930;
        cursor: pointer;
    }
}
/* Indianapolis Colts */
.IND {
    background: #002c5f;
    border-bottom: 5px solid #a2aaad;
    & .playerLink:hover,
    span:hover {
        color: #a2aaad;
        cursor: pointer;
    }
}
/* Jacksonville Jaguars */
.JAX {
    background: #101820;
    border-bottom: 5px solid #d7a22a;
    & .playerLink:hover,
    span:hover {
        color: #006778;
        cursor: pointer;
    }
}
/* Kansas City Chiefs */
.KC {
    background: #e31837;
    border-bottom: 5px solid #ffb81c;
    & .playerLink:hover,
    span:hover {
        color: #ffb81c;
        cursor: pointer;
    }
}
/* Los Angeles Chargers */
.LAC {
    background: #0080c6;
    border-bottom: 5px solid #ffc20e;
    & .playerLink:hover,
    span:hover {
        color: #ffc20e;
        cursor: pointer;
    }
}
/* Los Angeles Rams */
.LAR {
    background: #003594;
    border-bottom: 5px solid #ffa300;
    & .playerLink:hover,
    span:hover {
        color: #ff8200;
        cursor: pointer;
    }
}
/* Miami Dolphins */
.MIA {
    background: #008e97;
    border-bottom: 5px solid #fc4c02;
    & .playerLink:hover,
    span:hover {
        color: #005778;
        cursor: pointer;
    }
}
/* Minnesota Vikings */
.MIN {
    background: #4f2683;
    border-bottom: 5px solid #ffc62f;
    & .playerLink:hover,
    span:hover {
        color: #ffc62f;
        cursor: pointer;
    }
}
/* New England Patriots */
.NE {
    background: #002244;
    border-bottom: 5px solid #c60c30;
    & .playerLink:hover,
    span:hover {
        color: #b0b7bc;
        cursor: pointer;
    }
}
/* New Orleans Saints */
.NO {
    background: #d3bc8d;
    border-bottom: 5px solid #101820;
    & .playerLink:hover,
    span:hover {
        color: #101820;
        cursor: pointer;
    }
}
/* New York Giants */
.NYG {
    background: #0b2265;
    border-bottom: 5px solid #a71930;
    & .playerLink:hover,
    span:hover {
        color: #a71930;
        cursor: pointer;
    }
}
/* New York Jets */
.NYJ {
    background: #125740;
    border-bottom: 5px solid #fff;
    & .playerLink:hover,
    span:hover {
        color: #000;
        cursor: pointer;
    }
}
/* Las Vegas Raiders */
.LV {
    background: #000;
    border-bottom: 5px solid #a5acaf;
    & .playerLink:hover,
    span:hover {
        color: #a5acaf;
        cursor: pointer;
    }
}
/* Philadelphia Eagles */
.PHI {
    background: #004c54;
    border-bottom: 5px solid #a5acaf;
    & .playerLink:hover,
    span:hover {
        color: #a5acaf;
        cursor: pointer;
    }
}
/* Pittsburgh Steelers */
.PIT {
    background: #ffb612;
    border-bottom: 5px solid #101820;
    & .playerLink:hover,
    span:hover {
        color: #101820;
        cursor: pointer;
    }
}
/* San Francisco 49ers */
.SF {
    background: #aa0000;
    border-bottom: 5px solid #b3995d;
    & .playerLink:hover,
    span:hover {
        color: #b3995d;
        cursor: pointer;
    }
}
/* Seattle Seahawks */
.SEA {
    background: #002244;
    border-bottom: 5px solid #69be28;
    & .playerLink:hover,
    span:hover {
        color: #a5acaf;
        cursor: pointer;
    }
}
/* Tampa Bay Buccaneers */
.TB {
    background: #d50a0a;
    border-bottom: 5px solid #ff7900;
    & .playerLink:hover,
    span:hover {
        color: #ff7900;
        cursor: pointer;
    }
}
/* Tennessee Titans */
.TEN {
    background: #0c2340;
    border-bottom: 5px solid #4b92db;
    & .playerLink:hover,
    span:hover {
        color: #c8102e;
        cursor: pointer;
    }
}
/* Washington Team */
.WAS {
    background: #773141;
    border-bottom: 5px solid #ffb612;
    & .playerLink:hover,
    span:hover {
        color: #ffb612;
        cursor: pointer;
    }
}
